@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 20px;
}

#nav {
  background-color: #d9b0cb;
}

#name {
  padding: 5px;
  color: white;
  font-family: "Montserrat";
  font-weight: 100;
}

#logo {
  background-color: #35399c;
  width: 100px;
}

#logo_img {
  height: 30px;
  width: 30px;
}
