@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
  background-color: black;
  font-family: "Montserrat";
  color: white;
}

body {
  margin: 20px;
  max-width: 700px;
}

#nav {
  background-color: #d9b0cb;
  display: flex;
  width: 700px;
}

#name {
  padding: 5px;
  font-weight: 300;
  ttext-align: center;
  font-size: 12pt;
}

#logo {
  background-color: #35399c;
  width: 200px;
  display: flex;
}

#logo_img {
  height: 50px;
  width: 100px;
  float: left;
}

#menu {
  height: 50px;
  width: 50px;
  align: center;
  padding: 5px;
}

#hero {
  font-family: "Montserrat";
  background-image: url("Nuclear.png");
  width: 700px;
}

#hero_txt {
  font-size: 16pt;
  margin: auto;
  width: 50%;
  padding: 10px;
}

#act_div {
  border-radius: 7px;
  align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
}


#action, #action2 {
  font-family: Montserrat;
  padding: 5px;
  font-size: 16pt;
  width: 150px;
  color: white;
}

#action {
  background-color: #2e0f25;
}

#action2 {
  background-color: #9c6baf;
}

#info {
  display: flex;
  padding: 10px;
  max-width: 700px;
}

#box_txt1, #box_txt2, #box_txt3, #info_txt1, #info_txt2 {
  padding: 5px;
}

#box, #custom_img, #bling {
  max-width: 100%;
  min-width: 200px;
  height: auto;
}

#custom_img {
  margin: auto;
  width: 90%;
  height: 50px;
}

#box {
  margin: auto;
  width: 30%;
  height: 100px;
}

#bling {
  height: 100px;
}

#easy, #custom, #unlimited {
  padding: 15px;
}

#easy {
  background-color: #461c59;
}

#custom {
  background-color: #35399c;
}

#unlimited {
  background-color: #9c6baf;
}

#footer {
  background-image: linear-gradient(to right, black, #2e0f25, #461c59, #35399c, #9c6baf, #d9b0cb, white);
  padding: 5px;
  display: flex;
  max-height: 60px;
}

#footer p {
  padding: 5px;
  padding-left: 10px;
}

#gmail {
  height: 50px;
  width: 50px;
  padding: 5px;
}

#gmail_div, #tw_div {
  display: flex;
}

#twitter {
  height: 50px;
  width: 50px;
  padding: 5px;
}

#tw_div {
  padding-left: 170px;
}
