@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
  background-color: black;
}

body {
  margin: 20px;
}

#nav {
  background-color: #d9b0cb;
  display: flex;
}

#name {
  padding: 5px;
  color: white;
  font-family: "Montserrat";
  font-weight: 100;
  ttext-align: center;
  font-size: 12pt;
}

#logo {
  background-color: #35399c;
  width: 200px;
  display: flex;
}

#logo_img {
  height: 50px;
  width: 100px;
  float: left;
}

#menu {
  height: 50px;
  width: 50px;
  align: center;
  padding: 5px;
}

#hero {
  font-family: "Montserrat";
  background-image: url("Nuclear.png");
}

#hero_txt {
  font-size: 16pt;
  margin: auto;
  width: 50%;
  padding: 10px;
}

#act_div {
  border-radius: 7px;
  align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
}


#action {
  background-color: #2e0f25;
  font-family: Montserrat;
  color: white;
  padding: 5px;
  font-size: 16pt;
  width: 100px;
}
  
